<div class="max-w-3xl mx-auto p-4">

    <h1 class="text-3xl font-bold mb-4">1. Introduction to Automated Testing</h1>

    <h2 class="text-xl font-bold mb-2">1.1. Common questions in mind of developers</h2>
    <ul class="list-disc pl-8 mb-4">
        <li>What is automated testing?</li>
        <li>Is it a replacement for manual testing?</li>
        <li>Do I need Automated testing?</li>
        <li>Do I write Test first (TDD - Test Driven Development) or application code first?</li>
        <li>What to test?</li>
    </ul>

    <h2 class="text-xl font-bold mb-2">1.2. Developers thoughts</h2>
    <p class="mb-4">Testing our code is an important and integral part of any project but the majority of developer/technical professionals doesn't follow it, because:</p>
    <ul class="list-disc pl-8 mb-4">
        <li>Testing looks complex</li>
        <li>It's time-consuming</li>
        <li>Developers are not clear about Testing</li>
        <li>Don't know how to work with Testing</li>
        <li>No clear idea/picture what to test</li>
    </ul>

    <h2 class="text-xl font-bold mb-2">1.3. What is automated testing?</h2>
    <p class="mb-4">Automated testing</p>
    <ul class="list-disc pl-8 mb-4">
        <li>Testing is the process of checking the code/functionality manually or in an automated fashion</li>
        <li>Automated testing is process/practice of writing code to test our code, then run tests in an automated fashion</li>
        <li>Automated testing is performed by writing test cases/scripts</li>
        <li>Manual Testing is performed by a human carefully executing the test steps</li>
        <li>Automation Testing means using an automation tool to execute your test case suite</li>
    </ul>

    <h2 class="text-xl font-bold mb-2">1.4. Is it a replacement for manual testing?</h2>
    <p class="mb-4">1.4. Development and Testing Life cycle</p>
    <p class="mb-4">Both Manual Testing & Automated Testing have their advantages and disadvantages:</p>
    <ul class="list-disc pl-8 mb-4">
        <li>For smaller applications, Manual Testing is beneficial at the same time</li>
        <li>Large enterprise applications Automated Testing plays an important role</li>
        <li>Some project/software application (in which requirements changes frequently, R & D Projects) Manual Testing is the best option</li>
        <li>Also in some project/software application combination of both Manual Testing & Automated Testing works and fit fine (complex things checked manually and dynamic things can be automated tested)</li>
    </ul>

    <h3 class="text-lg font-bold mb-2">Manual Testing Process Life cycle</h3>
    <ul class="list-disc pl-8 mb-4">
        <li>Code - We Develop some code/features</li>
        <li>Results - We have some expected results in mind</li>
        <li>Test - We Test/check application</li>
        <li>If all looks good/works fine - success confirmation - develop other next piece code/feature</li>
        <li>If any error/not happy with code - Failure - Modify/Fix and test again</li>
    </ul>

    <h3 class="text-lg font-bold mb-2">Automated Testing Process Life cycle</h3>
    <ul class="list-disc pl-8 mb-4">
        <li>Code - We Develop some code/features</li>
        <li>Results - We have some expected results in mind</li>
        <li>Test - We can Automate and Simply Tests</li>
        <li>We can test some part manually</li>
        <li>At the same time write test cases/automate some task to avoid manual and time-consuming interaction</li>
    </ul>
    <p class="mb-4">Automate testing helps to get breaking changes/last-minute code shocking changes at the initial level itself. Whenever we develop any application we need to test it. Sometimes the test is performed manually by developer/QA team member or at a time we prefer writing an Automated Unit Test.</p>

    <p class="mb-4">Test-Driven Development is a single powerful tool to prevent bugs, defects from within our application. By putting some efforts on Testing we get better quality software with fewer bugs which is more maintainable in the long term.</p>

    <h3 class="text-lg font-bold mb-2">Manual testing process/steps</h3>
    <ol class="list-decimal pl-8 mb-4">
        <li>Launch application in the browser</li>
        <li>Login to application</li>
        <li>Go to the target page</li>
        <li>Follow proper steps and do some clicks here there to test & check, code or functionality developed</li>
        <li>Test/check positive and negative both scenarios for particular functionality/function</li>
    </ol>
    <p class="mb-4">All the way manual testing is pretty time-consuming, to follow all the steps/cycle discussed above, we may need a couple of minutes.</p>

    <p class="mb-4">Manual Testing of all workflows, all fields, all negative scenarios is time and money consuming. It is difficult to test for multi-lingual sites manually. Manual Testing can become boring and hence error-prone.</p>

    <h3 class="text-lg font-bold mb-2">Automated testing process/steps</h3>
    <ul class="list-disc pl-8 mb-4">
        <li>We can write code, directly call the function with different positive and negative input values, and test functionality/function in a fraction of the moment.</li>
        <li>Automation increases the speed of test execution</li>
        <li>Automation helps increase Test Coverage</li>
        <li>Automation does not require human intervention. You can run automated test unattended (overnight)</li>
    </ul>

    <h2 class="text-xl font-bold mb-4">1.5. Codebase to develop</h2>

    <p>With Automated testing, we have to write Production Code as well as Unit Test Code, so it takes significantly more time as compared to normal development time.</p>

  
        <h3 class="text-lg font-bold mb-2">Codebase to develop</h3>
        <img src="./../../../assets/1.5.1-codebase-to-develop.png" alt="Codebase to develop">
        <p>Image - Codebase to develop (Production + Test Code)</p>


    <h2 class="text-xl font-bold mb-4">Production/Development Cost</h2>

    <p>It's fact that implementing the feature with unit test/testing will take more time than development without unit test/testing.</p>

        <h3 class="text-lg font-bold mb-2">Production development cost</h3>
        <img src="./../../../assets/1.5.2-production-development-cost.png" alt="production-development-cost">

        <p>Image - Production development cost</p>

    <h2 class="text-xl font-bold mb-4">Manual Testing Cost VS Automated Testing Cost</h2>

        <h3 class="text-lg font-bold mb-2">Manual Testing Cost</h3>
        <ul class="list-disc pl-8">
            <li>In any application at the initial development level, Manual Testing takes less time</li>
            <li>As the application grows with more and more features, functionality and complexity, time is taken by Manual Testing increases exponentially-significantly</li>
            <li>In the longer run, many new team members are not aware of exact functionality and requirements to test as an actual old developer who developed the features are no more working with the company</li>
        </ul>

        <h3 class="text-lg font-bold mb-2">Automated Testing Cost</h3>
        <ul class="list-disc pl-8">
            <li>At the initial development level, Automated Testing takes more time</li>
            <li>In longer time over the years as and when the application grows with features and complexity, Automated Testing time decreases and it is far lesser than Manual Testing</li>
            <li>Nowadays many companies avoid manual testing and automate everything and prefer test automation</li>
        </ul>
        <img src="./../../../assets/1.5.3-manual-automated-testing-cost.png" alt="manual-automated-testing-cost">

    <h2 class="text-xl font-bold mb-4">1.6. Why Test</h2>

    <ul class="list-disc pl-8 mb-4">
        <li>Testing is important and done to:</li>
        <li>Get an error if code break</li>
        <li>Avoid last-minute shocking/breaking code changes</li>
        <li>Tests are the best way to prevent software defects</li>
        <li>Avoid any invalid/bad/unwanted code</li>
        <li>Think about possible issues and bugs in code/application</li>
        <li>Integrate into build workflow (If all test cases succeed then merge code and deployed automatically)</li>
        <li>Save time in the longer run</li>
        <li>Break up complex code dependencies and make our code easier</li>
        <li>Improve code/better code quality</li>
    </ul>

    <h2 class="text-xl font-bold mb-4">1.7. Benefits-Advantages of Automated Testing</h2>

    <ul class="list-disc pl-8 mb-4">
        <li>It helps to catch defects/bugs before releasing your application/product/software</li>
        <li>With Automated Testing, we produce software with fewer bugs and of better quality and more reliable</li>
        <li>Tests prevent software defects</li>
        <li>It will help you become a better developer</li>
        <li>It will enforce you to write better and more reliable code</li>
        <li>Helps in regression testing (Testing complete application in chunks, make sure old functionalities are working fine)</li>
        <li>Reveals mistakes in Design/Development (If some features are difficult/complex to write test cases - simplify functionality and logic)</li>
        <li>In the longer run, Automated Unit Testing acts as documentation fo application functionality</li>
    </ul>

    <h2 class="text-xl font-bold mb-4">1.8. Do I need Automated testing?</h2>

    <h3 class="text-xl font-bold mb-2">1.8. Real-time testing scenarios</h3>
    <h3 class="text-xl font-bold mb-2">1.8. What world think about testing</h3>

    <p>Be Linguistics and Pragmatic:</p>
    <ul class="list-disc pl-8 mb-4">
        <li>Automated testing has lots of advantages-benefits but it is not good-fit for each project and every team</li>
        <li>Needed disciplined code and programmer in team else we need to spend more time and money to fix broken code which may result in loss</li>
        <li>In the Real world, we have constrained for TIME and MONEY - our job is to build + deliver real working software by solving problems and deliver values to the world</li>
        <li>Depends on the Project Budget, Development Time and Resources we can decide to go for Automated Testing or not</li>
        <li>Automated Testing may not good for:
            <ul class="list-disc pl-8">
                <li>A startup who have limited budget and time</li>
                <li>Startup companies who are not sure about product future</li>
                <li>Companies who develop research-based/experimental products (R & D projects)</li>
                <li>Software/application in which requirements changes frequently</li>
            </ul>
        </li>
    </ul>

    <h2 class="text-xl font-bold mb-4">1.9. First code or write the test TDD BDD</h2>

    <h3 class="text-xl font-bold mb-4">1.9. Do I write Test first (TDD - Test Driven Development) or application code first?</h3>

    <p>TDD (Test Driven Development)</p>
    <ul class="list-disc pl-8 mb-4">
        <li>Sometimes, we write tests before we even start developing which is called TDD (Tests are written before the code)</li>
        <li>We mostly follow BDD (Behavior Driven Development) since we are using the Jasmine framework</li>
    </ul>

    <p>Behavior Driven Development</p>
    <ul class="list-disc pl-8 mb-4">
        <li>Behavior Driven testing is an extension of TDD</li>
        <li>Like TDD in BDD also we can write tests first and then add application code, The major difference that we get to see here are:
            <ul class="list-disc pl-8">
                <li>Tests are written in plain descriptive English type grammar</li>
                <li>Tests are explained as a behavior of an application and are more user-focused</li>
                <li>Using examples to clarify requirements</li>
            </ul>
        </li>
    </ul>

    <p>It's all depends on TIME, MONEY and need/requirements - usually, developers and companies first prefer to do application development then go for testing i.e. BDD (Behavior Driven Development).</p>

    <h2 class="text-xl font-bold mb-4">1.10. What to test</h2>

    <h3 class="text-xl font-bold mb-4">1.10. Which Test Cases to Automate?</h3>

    <p>Test cases to be automated can be selected using the following criterion to increase the automation ROI:</p>

    <ul class="list-disc pl-8 mb-4">
        <li>High Risk - Business Critical test cases</li>
        <li>Test cases that are repeatedly executed</li>
        <li>Test Cases that are very tedious or difficult to perform manually</li>
        <li>Time-consuming test Cases</li>
    </ul>

    <p>We can write Angular tests cases for testing Functions, Logics, Events, multiple types of Components, Attributes-Directives, Dependencies, Routers- Navigation, and services.</p>

    <p>While writing test we must think/test all execution scenarios like if and else condition, positive, negative outputs, pass and fail cases, true or false switch case etc.</p>

    <p>The following category of test cases are not suitable for automation:</p>

    <ul class="list-disc pl-8">
        <li>Test Cases that are newly designed and not executed manually at least once</li>
        <li>Test Cases for which the requirements are frequently changing</li>
        <li>Test cases which are executed on an ad-hoc (emergency or when needed) basis</li>
    </ul>

   <div class=" flex justify-end mt-6"> <button routerLink="/chapter2" class="px-6 py-2 border-2 rounded-md">
    <a routerLinkActive="font-bold">Next page</a>
</button></div>
</div>
